<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
            <canvas id="myCanvas" width="578" height="200" style="border: 1px solid red"></canvas>
    </body> 
    <script>
        const room_id = window.location.pathname.split('/')[2];
        var isDrawing;
        var canvas = document.getElementById('myCanvas');
        var context = canvas.getContext('2d');

        var socket = io();
        socket.on('connect', function(){
            socket.emit('room', room_id);
        });
        //config options
        var line_width = 10;
        var line_color = "blue";

        context.lineWidth = line_width;
        context.lineJoin = context.lineCap = "round";
        context.strokeStyle = line_color;
        
        socket.on('user_drawing_start', function(coords){
            console.log('user_drawing_start');
            isDrawing = true;
            context.lineWidth = line_width;
            context.moveTo(coords.x, coords.y);
        });

        socket.on('user_mouse_move', function(coords){
            console.log('user_mouse_move');
                context.lineTo(coords.x, coords.y);
                context.stroke();
        });

        socket.on('user_drawing_end', function(){
            console.log('user_drawing_end');
            isDrawing = false;
        });


        canvas.onmousedown = function(e){
            //isDrawing = true;
            //context.lineWidth = line_width;
            //context.moveTo(e.clientX, e.clientY);
            socket.emit('drawing_start', {roomId: room_id, x: e.clientX, y: e.clientY});
        };

        canvas.onmousemove = function(e){
            if (isDrawing) {
                socket.emit('mouse_move', {roomId: room_id, x: e.clientX, y: e.clientY});
                //context.lineTo(e.clientX, e.clientY);
                //context.stroke();
            }
        };

        canvas.onmouseup = function() {
            socket.emit('drawing_end', room_id);
            //isDrawing = false;
        }
        </script>
</html>